fastapi
uvicorn[standard]
requests
opencv-python
python-multipart
tensorflow
pillow
numpy
python-dotenv
typing_extensions
apscheduler
pytz
pydantic-settings
torch
torchvision
torchaudio
pandas
matplotlib
scikit-learn
